.kanban{
    width: 100vw;
    height: 100vh;
    background-color: #0D1117;
    color: whitesmoke;
}

.titulo{
    flex: 1;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.kanbanHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.botaoMeusQuadros{
    cursor: pointer;
    /*background-color: #58A6FF;*/
    color: whitesmoke;
    width: 200px;
    padding: 8px;
    margin-left: 40px;
    margin-top: 15px;
    border: none;
    border-radius: 4px;
}


.botaoMeusQuadros:hover{
    transition: background-color 0.5s ease;
    background-color: #395b83;
}

.BotaoEditarQuadros{
    cursor: pointer;
    /*background-color: #58A6FF;*/
    color: whitesmoke;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    width: 200px;
    padding: 8px;
    margin-right: 40px;
    margin-top: 15px;
    border: none;
    border-radius: 4px;
}

.BotaoEditarQuadros.editando{
    
    cursor: pointer;
    /*background-color: #58A6FF;*/
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    width: 200px;
    max-width: 200px;
    padding: 8px;
    margin-right: 40px;
    margin-top: 15px;
    border: none;
    border-radius: 4px;
}

.BotaoEditarQuadros:hover{
    transition: background-color 0.5s ease;
    background-color: #395b83;
}

.colunasContainer{
    display: flex;
    gap: 20px;
    padding: 10px 20px;
    
}

.input-data::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.formularioEditarQuadro{
    z-index: 10;
    gap: 10px;
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-right: 40px;
    margin-top: 15px;
}

@media screen {
    .colunasContainer{
        flex-direction: column;
        gap: 10px;
        aspect-ratio: unset;
        min-height: auto;
    }
    .titulo{
        font-size: 30px; 
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
}