.kanban{
    width: 100vw;
    height: 100vh;
    background-color: #0D1117;
    color: whitesmoke;
}

.titulo{
    flex: 1;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.kanbanHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.botaoMeusQuadros{
    cursor: pointer;
    background-color: #58A6FF;
    color: whitesmoke;
    width: 200px;
    padding: 8px;
    margin-left: 40px;
    margin-top: 15px;
    border: none;
    border-radius: 4px;
}


.botaoMeusQuadros:hover{
    transition: background-color 0.5s ease;
    background-color: #395b83;
}

.botaoEditarQuadros{
    cursor: pointer;
    background-color: #58A6FF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    width: 200px;
    max-width: 200px;
    padding: 8px;
    margin-right: 40px;
    margin-top: 15px;
    border: none;
    border-radius: 4px;
}

.botaoEditarQuadros:hover{
    transition: background-color 0.5s ease;
    background-color: #395b83;
}

.colunas{
    display: flex;
    gap: 20px;
    padding: 5px;
}

.kanbanContainer{
    width: 500;
    display: flex;
    gap: 5px;
    padding: 10px;
}

.tarefas {
    display: flex;    
    justify-content: space-between;
    cursor: grab;
    align-items: center;
    background-color: #21262D;
    max-height: 60px;    
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    flex-shrink: 0;
    overflow: hidden;
    
}

.tarefas.expandida{    
    max-height: 600px;
    
}

.tarefas .descricao {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
}

.tarefas .ladoDireito {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-data::-webkit-calendar-picker-indicator {
  filter: invert(1);
}


