.div{
    
    position: relative;
    height: 100vh;
    padding: 20px;
    background-color: #0D1117;
    color: whitesmoke;
}

.container{
    position: relative;
    max-width: 500px;
    margin: -150px auto;
    
}

.input{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid white;
}

.botao{
    
    cursor: pointer;
    width: 100%;
    padding: 8px;
    color: whitesmoke;
    border: none;
    border-radius: 8px;
    
}

.botao:hover{
    transition: background-color 0.5s ease;
    background-color: #395b83;
}

.voltar {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    
    color: whitesmoke;
    width: 200px;
    padding: 8px;
    border: none;
    border-radius: 4px;
}

.voltar:hover {
    background: #395b83;
    transition: background-color 0.5s ease;
}