.div{
    
    height: 100vh;
    padding: 20px;
    background-color: #0D1117;
    color: whitesmoke;
}

.container{
    position: relative;
    max-width: 500px;
    margin: 40px auto;
}

.input{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid white;
}

.botao{
    cursor: pointer;
    width: 100%;
    padding: 8px;
    background-color: #58A6FF;
    color: whitesmoke;
    border: none;
    border-radius: 8px;
    
}

.botao:hover{
    transition: background-color 0.5s ease;
    background-color: #395b83;
}