@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

body{
    font-family: 'Poppins', sans-serif;
}

button{
    background-color: #6643c0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    font-weight: 700; /* títulos mais marcantes */
}

h1, h2, h3 {
    font-family: 'Lora', sans-serif;
}

p, input, button, span, a {
    font-family: 'Poppins', sans-serif;
}

.esquemaTeste{
    background-color: #0D1117;
    color: whitesmoke;
    height: 100vh;
}

.botoes {
    cursor: pointer;
    
    color: whitesmoke;
    width: 200px;
    padding: 8px;
    border: none;
    border-radius: 4px;
}

.botoes:hover {
    background: #395b83;
    transition: background-color 0.5s ease;
}

.quadrosContainer {
    display: flex;
    display: block;
    justify-content: center; 
    min-height: 350px;
    margin-top: 50px;
    background-color: #21262D;
}

.quadrosList {
    cursor: pointer; 
    color: whitesmoke; 
    background-color: #21262D;
    padding: 8px;
    padding-left: 16px;
    width: 700px;
    position: relative;
    border-bottom: 2px dashed #7f8588;
}

.quadrosList:hover {
    background-color: #7f8588;
    color: #FFF;
    transition: background-color 0.5s ease;
}