@import "tailwindcss";

.botoes {
    background-color: #4CAF50;
    color: white;
    width: 200px;
    padding: 8px;
    border: none;
    border-radius: 4px;
}

.botoes:hover {
    background: #45a049;
}